astroid==1.4.9
attrs==15.2.0
Automat==0.0.0
bcrypt==3.1.2
beautifulsoup4==4.5.3
blinker==1.4
cffi==1.9.1
chardet==2.3.0
click==6.6
colorama==0.3.7
constantly==15.1.0
cssselect==1.0.0
Flask==0.11.1
Flask-Admin==1.4.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
incremental==16.10.1
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.2
lxml==3.7.3
MarkupSafe==0.23
olefile==0.44
parsel==1.1.0
passlib==1.7.1
Pillow==4.1.0
pycparser==2.17
PyMySQL==0.7.9
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.4
w3lib==1.17.0
Werkzeug==0.11.11
wrapt==1.10.8
WTForms==2.1
zope.interface==4.3.3
