<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/hospitalIOCt.ico">

    <title>注册</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/css/bootstrapDemo/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/bootstrapDemo/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-signin" method="post">
        <div class="row">
            <h2 class="form-signin-heading col-xs-12">请注册</h2>
            {{ formHtml.hidden_tag() }}

            {{ formHtml.userEmail(class="form-control",placeholder="邮箱") }}
            {% if formHtml.userEmail.errors %}
                {% for e in formHtml.userEmail.errors %}
                    <p class="help-block" style="color: red">{{ e }}</p>
                {% endfor %}
            {% else %}
                 <br>
            {% endif %}

            {{ formHtml.userName(class="form-control",placeholder="用户名") }}
            {% if formHtml.userName.errors %}
                {% for e in formHtml.userName.errors %}
                    <p class="help-block" style="color: red">{{ e }}</p>
                {% endfor %}
            {% else %}
                 <br>
            {% endif %}

            {{ formHtml.password(class="form-control",placeholder="密码") | safe }}
            {% if formHtml.password.errors %}
                {% for e in formHtml.password.errors %}
                    <p class="help-block" style="color: red">{{ e }}</p>
                {% endfor %}
            {% else %}
                 <br>
            {% endif %}

            {{ formHtml.passwordAgain(class="form-control",placeholder="确认密码") | safe }}
            {% if formHtml.passwordAgain.errors %}
                {% for e in formHtml.passwordAgain.errors %}
                    <p class="help-block" style="color: red">{{ e }}</p>
                {% endfor %}
            {% else %}
                 <br>
            {% endif %}
           <!-- <div class="g-recaptcha" data-sitekey="6LeWqhAUAAAAAHCc18ERrNPCAJ8zbPElvmRkciaE"></div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">完成注册</button>
        </div>
    </form>

</div> <!-- /container -->

<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
